{% extends "PasswordGeneRateApp/base.html" %}

{% load static %}
{% block head %}
    <link rel = 'stylesheet' href = "{% static 'PasswordGeneRateApp/style.css' %}">
    <title>Password Generator</title>
{% endblock %}

{% block content %}
    <h2>Password {{name}}</h2>
    <p>This is the minimum criteria:</p>
    <table>
        <tr>
            <th>Criteria:</th>
        </tr>
        {% for item in criteria %}
            <tr>
                <td>{{item}}</td>
            </tr>
        {% endfor %}
    </table>
    <p>Please enter your password below:</p>
    <p>[input box]</p>
    <p>check button</p>
{% endblock %}