{% extends "PasswordGeneRateApp/base.html" %}

{% load static %}
{% block head %}
    <link rel = 'stylesheet' href = "{% static 'PasswordGeneRateApp/style.css' %}">
    <title>Password Insultor</title>
{% endblock %}

{% block content %}
    <h2>Password Insultor</h2>
    <p>Hello! Please enter your password below:</p>
    <form method = "POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type = "submit">Check Password</button>
    </form>

    {% if insult %}
        <h2>{{ insult }}</h2>
    {% endif %}
{% endblock %}