{% extends "PasswordGeneRateApp/base.html" %}

{% load static %}
{% block head %}
    <link rel = 'stylesheet' href = "{% static 'PasswordGeneRateApp/style.css' %}">
    <title>PasswordGeneRate Privacy Policy</title>
{% endblock %}

{% block content %}
<div class = "content">
    <h2>Privacy Policy</h2>
    <p><strong>Effective Date:</strong> October 16, 2024</p>

    <h3>Introduction</h3>
    <p>Welcome to PasswordGeneRate ("we," "our," or "us"). Your privacy is important to us. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website. Please read this Privacy Policy carefully. If you do not agree with the terms of this Privacy Policy, please do not access the Website.</p>
    <p>By accessing or using our Website, you agree to the terms of this Privacy Policy.</p>

    <h3>1. Information We Collect</h3>
    <p>We do not collect or store any personal information or sensitive data from users who access and use the Website.</p>

    <h3>2. Use of the Website</h3>
    <br>
    <ul>
        <li><strong>Home Page:</strong> The Home page provides information about our password generator and insult feature, without collecting any personal data.</li>
        <li><strong>Generator Page:</strong> The Generator page allows users to generate random passwords based on the provided criteria. The generated passwords are not stored or tracked by the Website.</li>
        <li><strong>Insultor Page:</strong> The Insultor page takes a user's password to check if it exists in our database of commonly used passwords. If the password is found in our database, an insult is randomly chosen from our insults database and returned to the user. The password entered by the user is not stored, saved, or logged by the Website.</li>
    </ul>
    <br>

    <h3>3. Cookies and Tracking Technologies</h3>
    <p>Our Website does not use cookies or any form of tracking technologies.</p>

    <h3>4. Third-Party Services</h3>
    <p>We do not use or integrate any third-party services that collect data from our users. No third-party entities have access to any information or activity from our Website.</p>

    <h3>5. Data Security</h3>
    <p>Although we do not collect any personal data, we take reasonable measures to ensure that any information transmitted through our Website is secure. However, please note that no transmission over the internet is completely secure, and we cannot guarantee the security of any information transmitted via the Website.</p>

    <h3>6. Children's Privacy</h3>
    <p>Our Website does not knowingly collect or solicit any information from anyone under the age of 13. If we become aware that we have inadvertently collected information from a child under the age of 13, we will delete such information as quickly as possible.</p>

    <h3>7. Changes to This Privacy Policy</h3>
    <p>We may update this Privacy Policy from time to time in response to legal, technical, or business developments. The updated version will be indicated by the "Effective Date" at the top of this policy. We encourage you to review this Privacy Policy periodically to stay informed about our data practices.</p>

    <h3>8. Contact Us</h3>
    <p>If you have any questions about this Privacy Policy or our practices, please contact us at:</p>
    <p><a href = "mailto:PasswordGeneRate@gmail.com">PasswordGeneRate@gmail.com</a></p>
    <br>
    </div>
{% endblock %}